.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
}
.image {
    width: 100%;
    border-radius: 50%;
}
    
.badge {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 20%;
}
      